.profile__edit-button {
    grid-row: 1;
    grid-column: 2;
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: none;
    background-image: url(../../../images/edit-button.svg);
    background-size: 24px 24px;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.profile__edit-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 351px) {
    .profile__edit-button {
        background-size: 18px 18px;
        width: 18px;
        height: 18px;
        background-repeat: no-repeat;
    }
}