.form__button {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    margin: 48px 0 0;
    padding: 14px 124px 14px 125px;
    border-radius: 2px;
    border: none;
    background-color: #000000;
}

.form__button:hover {
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .form__button {
        padding-right: 82px;
        padding-bottom: 14px;
        padding-left: 82px;
        margin-top: 45px;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
}