.profile {
    width: 100%;
    display: grid;
    flex-direction: row;
    align-self: center;
    margin: 40px 0 51px;
    position: relative;
    grid-template-columns: 150px 336px auto;
}

@media screen and (max-width: 768px) {
    .profile {
        flex-direction: column;
        margin: 42px 0 36px;
        grid-template-columns: auto;
    }
}