.header__logo {
    height: 33px;
    margin: 45px 0 41px;
    padding: 0;
    background-image: url(../../../images/logo.svg);
    background-size: 142px 33px;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1024px) {
    .header__logo {
        margin: 28px 0 31px 27px;
    }
}

@media screen and (max-width: 320px) {
    .header__logo {
        background-size: 104px 24px;
        height: 24px;
    }
}