.header {
    width: 880px;
    display: flex;
    flex-direction: column;
    align-self: center;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (min-width: 351px) and (max-width: 890px) {
    .header {
        width: 90vw;
    }
}

@media screen and (max-width: 351px) {
    .header {
        width: 100vw;
    }
}