.form__text {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0 0 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.form__text:nth-child(2n) {
    margin-top: 30px;
}