.footer {
    width: 100%;
    max-width: 880px;
    align-self: center;
}

@media screen and (max-width: 1024px) {
    .footer {
        width: 88%;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        width: 282px;
    }
}