
@import url(../vendor/normalize.css);

@import url(../fonts/fonts.css);

/** {
    outline: 1px solid red;
}*/

.body {
    background-color: #000000;
    color: #FFFFFF;
}

.page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 880px;
    display: flex;
    flex-direction: column;
    align-self: center;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.header__logo {
    width: 142px;
    height: 33px;
    margin: 45px 0 41px;
    padding: 0;
}

@media screen and (min-width: 351px) and (max-width: 890px) {
    .header {
        width: 90vw;
    }
}

@media screen and (max-width: 351px) {
    .header {
        width: 100vw;
    }

    .header__logo {
        margin: 28px 0 31.6px 27px;
        width: 103.74px;
        height: 24.4px;
    }
}

.content {
    max-width: 880px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@media screen and (min-width: 351px) and (max-width: 890px) {
    .content {
        width: 90vw;
    }
}

@media screen and (max-width: 351px) {
    .content {
        width: 88.12vw;
    }
}

.form {
    display: none;
    position: fixed;
    top: 155px;
    align-self: center;
    z-index: 2;
}

.form__close-icon {
    position: absolute;
    border: none;
    right: -32px;
    top: -32px;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.form__close-icon:hover {
    opacity: 0.6;
    cursor: pointer;
}

.form__position {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #FFFFFF;
    width: 430px;
    height: 330px;
    border-radius: 10px;
}

.form__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin: 34px 0 54px;
    padding: 0;
    width: 358px;
}

.form__field {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.form__name {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 358px;
    padding: 0 0 13px;
}

.form__name::placeholder {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.form__job {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 358px;
    padding: 0 0 13px;
}

.form__job::placeholder {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.form__button {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    margin: 48px 0 0;
    padding: 0;
    border-radius: 2px;
    width: 358px;
    height: 50px;
    border: none;
    background-color: #000000;
}

.form__button:hover {
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

@media screen and (max-width: 555px) {
    .form__close-icon {
        right: 0;
        top: -36px;
        width: 20px;
        height: 20px;
    }

    .close-icon {
        width: 20px;
        height: 20px;
    }

    .form__position {
        width: 282px;
        height: 322px;
        border-radius: 10px;
    }

    .form__title {
        font-size: 18px;
        line-height: 22px;
        margin: 25px 0 75px;
        width: 238px;
    }

    .form__field {
        width: 238px;
    }

    .form__name {
        width: 238px;
    }

    .form__job {
        width: 238px;
    }

    .form__button {
        width: 238px;
        height: 46px;
        margin: 45px 0 0;
    }
}

.profile {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    margin: 40px 0 51px;
}

.profile__block {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.profile__image {
    width: 120px;
    height: 120px;
    margin: 0;
    padding: 0;
}

.profile__info {
    align-self: center;
    display: grid;
    grid-template-columns: 312px 24px;
    grid-template-rows: repeat(2, auto);
    align-items: center;
}

.profile__name {
    grid-row: 1;
    grid-column: 1;
    margin: 0 0 16px 0;
    padding: 0;
    width: 294px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
}

.profile__job {
    grid-row: 2;
    grid-column: 1;
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    width: 294px;
}

.profile__edit-button {
    grid-row: 1;
    grid-column: 2;
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: none;
}

.profile__edit-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

.profile__add-button {
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: none;
    width: 150px;
    height: 50px;
    align-self: center;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
}

.add-button {
    width: 22px;
    height: 22px;
}

.profile__add-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (min-width: 739px) and (max-width: 890px) {
    .profile {
        width: 90vw;
    }
}

@media screen and (min-width: 351px) and (max-width: 739px) {
    .profile {
        width: 90vw;
        flex-direction: column;
        align-self: center;
    }

    .profile__block {
        flex-direction: column;
        margin-bottom: 36px;
    }

    .profile__image {
        align-self: center;
    }

    .profile__name {
        text-align: center;
    }

    .profile__job {
        text-align: center;
    }
    .profile__add-button {
        width: 282px;
        height: 50px;
    }

    .add-button {
        width: 16px;
        height: 16px;
    }
}

@media screen and (max-width: 351px) {
    .profile {
        width: 88.12vw;;
        flex-direction: column;
        align-self: center;
        margin: 42px 0 36px;
    }

    .profile__block {
        flex-direction: column;
        margin-bottom: 36px;
        gap: 26px;
    }

    .profile__image {
        align-self: center;
    }

    .profile__info {
        grid-template-columns: 199px 18px;
        grid-template-rows: repeat(2, auto);
    }

    .profile__name {
        text-align: center;
        font-size: 27px;
        line-height: 33px;
        text-align: center;
        margin: 0 0 14px 0;
        width: 189px;
    }

    .profile__job {
        text-align: center;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        width: 189px;
    }

    .edit-button {
        width: 18px;
        height: 18px;
    }

    .profile__add-button {
        width: 88.12vw;
        width: 282px;
        height: 50px;
    }

    .add-button {
        width: 16px;
        height: 16px;
    }
}

.elements {
    width: 100%;
    max-width: 880px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    row-gap: 20px;
    column-gap: 17px;
    align-self: center;
}

.element {
    width: 282px;
    height: 361px;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.element__photo {
    border-radius: 10px 10px 0px 0px;
    width: 282px;
    height: 282px;
}

.element__pick {
    display: flex;
    width: 246px;
    margin: 23px 0 0 21px;
    justify-content: space-between;
}

.element__name {
    color: #000000;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    margin: 0;
    padding: 0;
}

.element__like-button {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    width: 22px;
    height: 19px;
    background-image: url(../images/like.svg);
}

.element__like-button:hover {
    opacity: 0.5;
    cursor: pointer;
}

.active {
    background-image: url(../images/like-active.svg);
}

@media screen and (min-width: 651px) and (max-width: 890px) {
    .elements {
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(3, auto);
        justify-content: space-around;
        width: 90vw;
    }
}

@media screen and (max-width: 651px) {
    .elements {
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(6, auto);
        justify-content: space-around;
        width: 90vw;
    }
}

.footer {
    width: 100%;
    max-width: 880px;
    align-self: center;
}

.footer__copyright {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
    margin: 67px 0 60px;
    padding: 0;
}

@media screen and (min-width: 321px) and (max-width: 890px) {
    .footer {
        width: 90vw;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        max-width: 282px;
        width: 88.12vw;
    }

    .footer__copyright {
        font-size: 14px;
        line-height: 17px;
    }
}